html, body {
	height: 100%;
	margin: 0;
}

body {
	background: url("images/disney-background.png");
}

.title {
	font-family: 'Roboto', sans-serif;
	color: #000081;
	font-weight: 700;
	font-size: 36px;

}

#mov-input{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;

}

#add-show {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 10px;
	font-size: 20px;
}

#add-mov {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 10px;
	background-color: #000081;
	color: white;
	border-radius: 10px;
}

#mov-form{
	color: #000081;
	float: left;
	margin-top: 50px;
	float: right;
	margin-right: 15px;
}

.movie {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 10px;
	background-color: #000081;
	color: white;
	border-radius: 10px;
	float: left;
}

#mov-view {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	float: left;
}